<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SourceCC.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <userSettings>
        <SourceCC.Properties.Settings>
            <setting name="TF2Folder" serializeAs="String">
                <value>C:\Program Files (x86)\Steam\SteamApps\common\Team Fortress 2\tf</value>
            </setting>
            <setting name="L4D2Folder" serializeAs="String">
                <value>C:\Program Files (x86)\Steam\SteamApps\common\Left 4 Dead 2\left4dead2</value>
            </setting>
            <setting name="SeenOsArchMessage" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Language" serializeAs="String">
                <value>English</value>
            </setting>
            <setting name="SeenLanguageRestartMessage" serializeAs="String">
                <value>False</value>
            </setting>
        </SourceCC.Properties.Settings>
    </userSettings>
</configuration>